@use "../../assets/styles/variables" as *;

.nav {
  background-color: $color-blue;
  color: $color-beige;
  height: 100px;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 20px;

  &__filters {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }

  &__close {
    width: 20px;
    align-self: flex-end;
  }
}
