@use "../../assets/styles/variables" as *;

.nav {
  background-color: $color-blue;
  color: $color-beige;
  height: fit-content;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;

  &__home {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  &__filters {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }

  &__close {
    width: 20px;
    align-self: flex-end;
  }

  &__header {
    padding-right: calc((50% - 230px));
  }

  &__home-button {
    padding: 10px 15px;
    text-decoration: none;
    color: $color-beige;
    background-color: $color-orange;
    border-radius: 10px;
  }
}
